.block-amount {
	padding: pxToRem( 24 );
	border-radius: $roundBorderRadius;
	background-color: $colorGray;

	&.is-invalid {
		background-color: $colorRed;
	}

	&--subtotal {
		padding: pxToRem( 24 );
		// background-color: $colorGreenDark;
	}

	&:not(:last-of-type) {
		margin-bottom: pxToRem( 16 );
	}

	&__label {
		display: flex;
		flex-direction: column;

		&__text {
			@include headline;

			color: $colorGrayLight;

			&--subtotal {
				font-size: pxToRem( 24 );
			}
		}
	}

	&__value {
		font-family: $fontMono;
		font-size: pxToRem( 36 );
		font-weight: 700;
		background-color: transparent;
		border: none;
		color: white;

		&--subtotal {
			font-size: pxToRem( 48 );
			outline: none;
		}

		&::placeholder {
			font-family: $fontSans;
			color: $colorGrayLight;
		}
	}
}
