.block-amount {
	padding: pxToRem( 24 );
	border-radius: $roundBorderRadius;
	background-color: black;

	&:not(:last-of-type) {
		margin-bottom: pxToRem( 16 );
	}

	&__label {
		display: flex;
		flex-direction: column;

		&__text {
			color: #999;
		}
	}

	&__value {
		font-family: $fontMono;
		font-size: pxToRem( 45 );
		font-weight: 700;
		background-color: transparent;
		border: none;
		color: white;

		&::placeholder {
			font-family: $fontSans;
		}
	}
}