.block-amount {
	padding: pxToRem( 24 );
	border-radius: $roundBorderRadius;
	background-color: $colorGreenLight;

	&.is-invalid {
		background-color: $colorPink;
	}

	&--subtotal {
		padding: pxToRem( 36 ) pxToRem( 24 );
		background-color: $colorGreenDark;
	}

	&:not(:last-of-type) {
		margin-bottom: pxToRem( 16 );
	}

	&__label {
		display: flex;
		flex-direction: column;

		&__text {
			color: $colorTanNeutral;

			&--subtotal {
				font-size: pxToRem( 24 );
			}
		}
	}

	&__value {
		font-family: $fontMono;
		font-size: pxToRem( 45 );
		font-weight: 700;
		background-color: transparent;
		border: none;
		color: $colorTan;

		&--subtotal {
			font-size: pxToRem( 60 );
			outline: none;
		}

		&::placeholder {
			font-family: $fontSans;
			color: $colorTanDark;
		}
	}
}
