html,
body {
	height: 100vh;
	font-family: $fontSans;
	font-weight: $fontWeightNormal;
	font-size: pxToRem(16);
}

.body {
	display: flex;
	place-items: center;
	place-content: center;
	padding: pxToRem( 16 );
	background-color: $colorGrayLight;

	&__pic {
		position: absolute;
		inset: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: -100;

		&__img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}
