* {
	outline: 1px solid red;
}

html,
body {
	height: 100vh;
	font-family: $fontSans;
	font-weight: $fontWeightNormal;
	font-size: pxToRem( 16 );
}

.body {
	display: flex;
	place-items: center;
	place-content: center;
	padding: pxToRem( 12 );
}

.headline {
	margin-top: 0;
	margin-bottom: pxToRem( 6 );
	font-weight: $fontWeightBold;
	font-size: pxToRem( 18 );
	letter-spacing: pxToRem( 4 );
	text-transform: uppercase;	
}