$baseSize: 16;
$baseFontSize: #{$baseSize}px;

$fontSans: 'Source Sans';
$fontMono: 'Source Code';

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;

$roundBorderRadius: pxToRem(12);

$colorGreenLight: #2d734a;
$colorGreen: #0c4022;
$colorGreenDark: #072615;

$colorGrayLight: #8c8c8c;
$colorGray: #404040;
$colorGrayDark: #0d0d0d;

$colorRed: #40100c;
