$baseSize: 16;
$baseFontSize: #{$baseSize}px;

$fontSans: 'Source Sans';
$fontMono: 'Source Code';

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;

$roundBorderRadius: pxToRem(12);

$colorGreenDark: #31592f;
$colorGreenNeutral: #597351;
$colorGreenLight: #92a685;
$colorGreenReallyLight: #b6bfa8;
$colorTan: #f2ede4;
$colorTanNeutral: #cfcac2;
$colorTanDark: #a6a29c;
$colorPink: #a68587;
